# PostgreSQL Database Connection String
# Example: postgresql://username:password@hostname:5432/database_name?sslmode=require
DATABASE_URL=postgresql://user:password@ep-sample-project.us-east-2.aws.neon.tech/neondb?sslmode=require
