# Environment variables and secrets
.env
.env.local
.env.*.local
*.env

# Python Virtual Environments
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class
*.pyc

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor & IDE configs
.idea/
.vscode/
*.swp
*.swo

# Node / Scratch
node_modules/
dist/
build/
